#morrislogo {
  margin: 0;
  padding: 0;
  width: 200px;
  height: auto;
}

.navbar-toggle, #morrislogo {
  margin: 20px;
}

#morrislogo img {
    width: 100%;
}

@media(min-width:768px) {
  #morrislogo {
    margin: 0;
    margin-top: 0.2em;
  }
}

.publication {
    margin-bottom: 30px;
}

.publication h4 a {
    text-transform: none;
    color: inherit;
}

.publication-image img {
    width: 100%;
}

.publication-description {
    background-color: white;
}

.publication-date {
  font-size: 8px;
  font-weight: 700;
  margin: 0 auto 20px;
  width: 100%;
  background-color: @gray-darkest;
  border-radius: 50%;
  max-width: 20em;
}

.publication-date::after {
  display: block;
  content: "";
  height: 0;
  margin-bottom: 20px;
  padding-bottom: 100%;
  width: 100%;
}

.publication-date div {
  font-size: 2.5em;
  color: white;
  float: left;
  line-height: 1em;
  margin-top: -1.3em;
  padding-top: 50%;
  text-align: center;
  width: 100%;
}

.publication-date span {
  display: block;
  line-height: 1.0em;
  .heading-font;
}

.publication-date .year {
  font-size: 2em;
}

.publication-authors {
  list-style-type: none;
  padding-left: 0;
}

.publication-authors li {
  display: inline;
}

.publication-authors li:last-child:before {
  content: "and ";
}

.publication-authors li:last-child:after {
  content: "";
}

.publication-authors li:after {
  content: ", ";
}

#logo-donnelly {
  margin-top: 60px;
  width: 250px;
}

#logo-dcs, #logo-mogen {
  width: 190px;
}

#contact-address {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
}

#contact-address h4 {
  text-transform: none;
}
